<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Flash!</title>
</head>
<body>
  
  <div id="app" class="container">
    <h1>{{ title }}</h1>
    <div v-if="loading"><h2>Fetching random users...</h2></div>
    <div class="user" v-else="!loading">
      <div v-for="user in users">
        <img v-if="user.picture" v-bind:src="user.picture.large" :alt="user.name.first">
        <p v-if="user.name">{{user.name.title}} {{user.name.first}} {{user.name.last}}</p>
      </div>
    </div>
    
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="app.js"></script>
</body>
</html>