body {
  font-family: 'Open Sans', sans-serif;
}
.deck-container {
  display: flex;
  flex-flow: row wrap;
}

.container {
  max-width: 80%;
  padding: 2em;
}
.card {
  width: 100px;
  height: 100px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.deck {
  position: relative;
}
.deck span {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}
