body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 80%; 
  margin: auto;
}


h3 {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
  border-radius: 5px;
}
