body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 80%; 
  margin: auto;
  min-height: initial;
}

.container > div {
  padding-bottom: 30px;
}

h3 {
  cursor: pointer;
}

.more:after {
  content: "\25BC";
  vertical-align: middle;
  font-size: 8px;
}

.less:after {
  content: "\25B2";
  vertical-align: middle;
  font-size: 8px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  border-radius: 5px;
}
