ul {
  list-style-type: none;
  padding-left: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}

.fade-enter, .fade-leave-to {
  transform: translateY(-5px);
  opacity: 0;
}
